header{
    padding: 20px;
}

header img{
    width: 30vw;
}
header div {
    order: 2;
    margin-top: 10px;
}

header .logo{
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

header input{
    border-radius: var(--radius-sm);
    width: 90%;
}

@media (min-width: 576px){
    header {
        height: 80px;
    }
    
    header div {
        position: relative;
    }
    
    header .logo {
        position: absolute;
        width: fit-content;
        top: 20px;
        left: 30px;
    }
    
    header img{
        width: auto;
        height: 50px;
    }

    header input{
        height: 40px;
        width: 20%;
        min-width: 300px;
    }
}
