main{
    width: 100vw;
    padding: 20px;
}

@media (min-width: 576px){
    main{width: 70vw;}
}

.content{
    padding: 30px 10px 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main{
    flex: 1;
    width: 100%;
}

main section{
    display: none;
    padding: 20px;
    width: 100%;
}

main section:target{
    display: block;
}

.recentlyPlayed, .favoritesGames, .trendingGames{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
}

@media (min-width: 576px){
   
}

.cardGame img{
    width: 100%;
}
