main{
    width: 100vw;
    padding: 20px;
}

@media (min-width: 576px){
    main{width: 70vw;}
}

.content{
    padding: 30px 10px 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main{
    flex: 1;
    max-width: 100%;
}

main section{
    display: none;
    padding: 20px;
    width: 100%;
}

main section:target{
    display: block;
}

.notFound, .notFoundFavorite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound i, .notFoundFavorite i{
    font-size: 80px;
}

.recentlyPlayed, .favoritesGames, .trendingGames{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 12px;
}
