
.gameDetails{
    width: 90vw;
    min-height: 80vh;
    border-radius: var(--radius-md);
    margin: auto;
    padding: 15px;
    display: flex;
}

.gameDetails .gameDescription > *{
    display: none;
}

.gameDetails .gameDescription > p:nth-of-type(1){
    display: block;
}

.gameDetails section{
    width: 100%;
}

.gameDetails section div > *{
    width: 100%;
    margin: 10px 0;
}

.imagesSec video{
    width: 100%;
    min-width: none;
    border-radius: var(--radius-lg);
    overflow: hidden;
    --webkit-transform: translateZ(0);
    object-fit: cover;
}

.imagesSec{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
}

.imagesSec div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.imagesSec img{
    flex-grow: 1;
    min-width: calc((100%)/2.5);
    height: auto;
    aspect-ratio:16/9;
    border-radius: var(--radius-sm);
    flex: 0;
    object-fit: cover;
    cursor: pointer;
}

@media (min-width: 576px){
    .imagesSec{
        width: 60%;
    }
    .gameDetails section{
        width: 40%;
    }
    .imagesSec img{
        min-width: calc((100%)/5.5);
    }
}
